/* font face add */
/*
 * Legal Disclaimer
 *
 * These web fonts are licensed exclusively for use on the following:
 * All domains belonging to Petco
 *
 * It is strictly forbidden to download or use these fonts on any other website domain or media.
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Lineto.com, 2020
 */

@font-face {
  font-family: PetcoCircularTT-Regular;
  src: url(fonts/PetcoCircularTT-Regular.woff2) format("woff2"),
    url(fonts/PetcoCircularTT-Regular.woff) format("woff");
}

@font-face {
  font-family: PetcoCircularTT-Bold;
  src: url(fonts/PetcoCircularTT-Bold.woff2) format("woff2"),
    url(fonts/PetcoCircularTT-Bold.woff) format("woff");
}

/* default css */
body {
  margin: 0px;
  padding: 0px;
  font-family: "PetcoCircularTT-Regular", arial !important;
}
/* common styling */
/* overflow scroll bar hide */
/* Hide scrollbar for Chrome, Safari and Opera */
.citrusStella-wrapper::-webkit-scrollbar,
.citrusStella__RawFoodContainer::-webkit-scrollbar,
.citrusStella__embedContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.citrusStella__wrapper,
.citrusStella__RawFoodContainer,
.citrusStella__embedContainer {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media all and (min-width: 600px) and (max-width: 768px) {
}
@media all and (max-width: 575px) {
}

@media all and (max-width: 375px) {
}
